$toggle-indicator-size: 24px; // changing this number will resize the whole toggle
$track-height: $toggle-indicator-size + 6;
$track-width: $toggle-indicator-size * 2.5;
$highContrastModeSupport: solid 2px transparent;
$mid: #5a72b5;
$light: white; //#e5efe9;
$dark: #121943;
$green: #003e14;
$track-border: $mid;
$track-background: $light;
$focus-ring: 0px 0px 0px 2px $dark;
$speed: 0.4s;

#relayContainer {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#notificationsContainer {
  pointer-events: none;
  position: fixed;
  top: 5%;
  left: 70%;
  transform: translateX(-50%);
  z-index: 999;
}

img {
  display: block;
  margin: auto;
}

input.stringcontainer {
  background-color: $light;
  border-radius: 5px;
  border: 1px solid $dark;
  height: 24px;
  margin: auto;
  display: flex;
  padding-left: 5px;
}

input.interrupt {
  width: 100%;
  border-color: darkred;
  background-color: #f1948a;
  color: darkred;
  margin: 10px 0px;
  cursor: pointer;
}

input.interrupt:hover {
  background-color: #f5867a;
}

input.interrupt:active {
  background-color: #f77163;
}

input.save,
input.interrupt {
  margin: auto;
  display: block;
  font-size: x-large;
  padding: 5px 25px;
  border-radius: 10px;
}

.notification {
  border: 3px solid #00529b;
  background-color: #bde5f8;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
  color: #00529b;
  padding: 7px 60px;
  animation: 2s fadeOut 5s 1 forwards;
  cursor: default;
  pointer-events: auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

td {
  padding: 0.5rem;
}

// Toggle specific styles
.toggle {
  align-items: center;
  border-radius: 100px;
  display: flex;
  font-weight: 700;
  margin-bottom: 16px;

  &:last-of-type {
    margin: 0;
  }
}

// Since we can't style the checkbox directly, we "hide" it so we can draw the toggle.
.toggle__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  // This style sets the focus ring. The ":not([disabled])" prevents the focus ring from creating a flash when the element is clicked.
  &:not([disabled]):active + .toggle-track,
  &:not([disabled]):focus + .toggle-track {
    border: 1px solid transparent;
    box-shadow: $focus-ring;
  }

  &:disabled + .toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.toggle-track {
  background: $track-background;
  border: 1px solid $track-border;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: $track-height;
  margin-left: 5%;
  position: relative;
  width: $track-width;
}

.toggle-indicator {
  align-items: center;
  background: $dark;
  border-radius: $toggle-indicator-size;
  bottom: 2px;
  display: flex;
  height: $toggle-indicator-size;
  justify-content: center;
  left: 2px;
  outline: $highContrastModeSupport;
  position: absolute;
  transition: $speed;
  width: $toggle-indicator-size;
}

// The check mark is optional
.checkMark {
  fill: #fff;
  height: $toggle-indicator-size - 4;
  width: $toggle-indicator-size - 4;
  opacity: 0;
  transition: opacity $speed ease-in-out;
}

.dropdowncontainer {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: black;
}

input[value="true"] + .toggle-track .toggle-indicator {
  background: $dark;
  transform: translateX($track-width - $track-height);

  .checkMark {
    opacity: 1;
    transition: opacity $speed ease-in-out;
  }
}

@media screen and (-ms-high-contrast: active) {
  .toggle-track {
    border-radius: 0;
    background-color: red;
  }
}

.topBar {
  display: flex;
}

.tabEntry {
  margin-right: 10px;
  border-radius: 10px;
  background-color: #333333;
}

.relayTable {
  padding-bottom: 10px;
}

.tabEntry a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

.tabEntry a[aria-current="page"] {
  background-color: #00529b;
  border-radius: 10px;
}

.tabEntry a:hover[aria-current="page"] {
  background-color: #002c53;
  border-radius: 10px;
}

.tabEntry a:hover {
  background-color: #111111;
  border-radius: 10px;
}

.setting {
  position: relative;
}

.setting .settingNameHover {
  visibility: hidden;
  background-color: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  border-color: black;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.setting:hover .settingNameHover {
  visibility: visible;
  padding: 5px;
  margin-left: 15px;
}

.hoverBox {
  position: relative;
  white-space: nowrap;
}

.settingInput .settingDefaultHover {
  visibility: hidden;
  color: rgb(102, 102, 102);
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.settingInput:hover .settingDefaultHover {
  visibility: visible;
}

.invalid-setting input,
.invalid-setting select,
.invalid-setting .toggle-track {
  background: pink !important;
}

.invalid-reason {
  text-align: center;
}

.invalid-reason small {
  padding: 0px 5px;
  border-radius: 10px;
  color: red;
}

.settingTag {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  color: black;
  margin: 5px;
}

input {
  outline: none;
}

.settingTagClose {
  cursor: pointer;
}

.settingTagSingle {
  display: inline-flex;
  border: 1.5px solid #764abc;
  padding: 2px 0px 0px 5px;
  border-radius: 5px;
  white-space: nowrap;
  color: #764abc;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: grab;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  transform: translateY(4px);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: clip;
  overflow-wrap: break-word;
  max-height: 250px;
  background-color: #fff;
  z-index: 99;
  user-select: none;
}

.dropdownItem {
  padding: 3px;
  cursor: pointer;
  padding-left: 0.2em;
}

.dropdownMenu > div + div {
  border-top: 1px solid rgb(214, 214, 214);
}

.dropdownItem:hover {
  background-color: #9fc3f870;
}

.userPreference {
  td:first-child {
    width: 15%;
  }
  td:nth-child(2) {
    width: 20%;
  }
}

.hintTagDrop {
  width: 40px;
  min-height: 100%;
  height: 20px;
  background-image: linear-gradient(rgb(162, 162, 162), transparent);
  border-radius: 5px;
  padding: 0px 0px 0px 5px;
  margin-right: 5px;
  margin-bottom: 2px;
}

.hintTagDropOriginal {
  background-image: linear-gradient(rgb(176, 94, 168), transparent);
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.draggedItem {
  opacity: 40%;
}

.hidden {
  display: none;
}

.rearrangedTag {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
